/* Estilos generales del formulario */
.formulario-registro {
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.formulario-titulo {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    color: #333;
    font-weight: bold;
}

/* Estilos para las filas y etiquetas de los campos */
.formulario-registro tr {
    display: flex;
    margin-bottom: 15px;
}

.formulario-registro td {
    flex: 1;
    padding: 0 10px;
}

.formulario-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
.formulario-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Estilos para los botones */
.boton-cancelar, .boton-guardar {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    text-decoration: none; /* Elimina el subrayado del enlace */
}

.boton-cancelar:hover, .boton-guardar:hover {
    background-color: #0056b3;
}