/* Estilos generales de la barra de navegación */
.menu-principal {
    display: flex; /* Activa Flexbox */
    justify-content: center; /* Centra los elementos horizontalmente */
    background-color: #333;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s; /* Transición suave para el hover */
    border-radius: 0.3s; 
}

.menu-principal .enlace {
    display: inline-block;
    padding: 8px 15px; /* Ajusta el padding para el tamaño deseado */
    text-decoration: none;
    color: white; /* Color de texto oscuro */
    font-weight: bold;
    border: none;
    margin: 0 5px; /* Margen entre los enlaces */
    border-radius: 0; /* Sin bordes redondeados */
}

/* Estilo para la página activa */
body[data-pagina="inicio"] .menu-principal .enlace[data-pagina="inicio"],
body[data-pagina="miUsuario"] .menu-principal .enlace[data-pagina="miUsuario"] {
    background-color: #e0e0e0; /* Color de fondo gris más oscuro para la página activa */
    color: #333; /* Color de texto más oscuro para la página activa */
}

/* Efecto hover para los enlaces */
.menu-principal .enlace:hover {
    background-color: #ddd; /* Color gris más claro al pasar el mouse */
    border-radius: 20px;
}
.menu-principal:hover{
    border-radius: 20px;
}