.contenedor-principal{
    display: flex;
    flex-wrap: wrap;
    padding: 28px;
    border-radius: 32px;
    background-color: aqua;
    margin: 5%;
    width: 85%;
    height: auto;
    gap: 10px;
}
.contenedor{
    position: relative;
    left: 30px;
    margin: 20px;
    width: 26%;
    height: auto;
    background-color: brown;
    border-radius: 32px;
    text-align:unset;
}
h1{
    position: relative;
    left: 6%;
    top: 32px;
    bottom: 6%;
    width: 200px;
}
h2{
    margin: 20px;
}
p{
    position: relative;
    width: 80%;
    margin: 20px;
}
